section{
    grid-template-columns: 80px 80px;
   
}
a{
    margin: 20px;
}
.buttons{
    position: absolute;
    top: 10px;
    left: 20px;
    transform: translate(10%, 10%);
    
}
.btn{
    height: 2.5rem;
    width: 9rem;
    border-radius: 0.25rem;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
}
.dotted {
    border: 5px dotted black
}

.solid {
    border: 5px solid black;
}

.groove {
    border: 5px groove #ded2d2e0;
}
.inset{
    border: 5px inset #ded2d2e0;
}

.none {
    border: 5px none #ded2d2e0;
}

.dashed {
    border: 5px dashed black;
}

.double {
    border: 5px double black;
}

.ridge {
    border: 5px ridge #ded2d2e0;;
}

.outset {
    border: 5px outset #ded2d2e0;
}

.hidden {
    border: 5px hidden #ded2d2e0;
}